@import "../../assets/styles/_base.scss";

.autocomplete { 
  position: absolute;
  margin-top: 3px;
  padding: 0 10px;
  left: 0;
  right: 0;
  top: 100%;
  max-height: 250px;
  color: theme-color("dark");
  background: theme-color("light");
  border-radius: 4px;
  border: 1px solid $light-gray;
  box-shadow: $popover-box-shadow;
  overflow: auto;
  z-index: $zindex-popover;
}

.suggestion-group {
  padding: 0.875rem 0;
  font-size: $font-size-sm;
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: none;
  }
}

.group-title {
  font-size: $font-size-sm;
  font-weight: bold;
}

.link-more {
  font-size: $font-size-sm;
  margin-top: 0.5rem;
  display: block;
  text-align: end;
}

.no-result {
  margin: 2rem auto;
  height: 100%;
  font-size: $font-size-sm;
  color: $gray;
  text-align: center;

  & span {
    margin-left: 0.5rem;
  }
}

.issue-icon {
  font-size: $font-size-lg;
}
