@import "../../assets/styles/_base.scss"; 

.poster-box {
  margin: 0;
  display: inline-block;
  text-align: center;

  &.hover {
    @include card-shadow;
  }
}

.poster-link {
  display: block;
  width: 100%;
  height: 100%;
}