.poster-card {
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  z-index: 99;
}

.image-content {
  width: 185px;
  height: 278px;
  line-height: 0;
}

.card-content {
  padding: 1rem;
  width: 298px;
  height: 278px;
  max-height: 278px;
}

.overview {
  word-wrap:  break-word;
}