@import '~styles/theme.scss';
@import '~styles/mixin.scss';

.searchbox-container,
.search-form,
.searchbox-group {
  height: 100%;
}

div.search-button {
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10;
}

.search-input {
  padding: 0.375rem 0.75rem 0.375rem 0;
  border: none;
  border-radius: 0;
  font-size: inherit;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  opacity: 0.6;

  &:focus + div.bottom-border {
    transform: scaleX(1);
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }
}

.bottom-border {
  @include fade-shrink;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $indicator-height;
  background: $blue;
  z-index: 99;
}

.search-icon {
  fill: $gray;
}

@media (max-width: 767px) {
  .searchbox-container {
    margin: 0 auto !important;
    width: 100%;
  }
}
