@import "../../assets/styles/_base.scss";

$primary-color: theme-color("light");

.searchbox {
  position: relative;
  flex-grow: 0.5;
}

.input-addon {
  background: none;
  border: none;
  color: $primary-color;
  & .search-icon {
    background: none;
    color: inherit;
    border: none;
  }  
}

.underline {
  @include underline(".search-input:focus + &", $primary-color);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

input.search-input {
  font-size: 0.9rem;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 4px !important;
  background: none;
  color: $border-gray;

  &::placeholder {
    color: $border-gray;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    color: map-get($theme-colors, "light");
  }
}


