{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ],
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [ 
    ["react-css-modules", {
      "context": "./client",
      "exclude": "node_modules",
      "generateScopedName": "[local]__[hash:base64:5]",
      "webpackHotModuleReloading": true,
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }],
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-runtime"
  ],
  "env":{
    "test":{
      "presets":["env"]
    }
  }
}