@import "../../assets/styles/_base.scss";

.avatar {
  width: 35px;
  height: 35px;
  overflow: hidden;

  &.border {
    box-shadow: 0 0 0 2px $theme-primary;
  }

  &.round {
    border-radius: 100%;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}