@import "../../assets/styles/_base.scss";

.navbar-button {
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  color: inherit !important;
  transition: none !important;
}