.backdrop-carousel {
  width: 100%;
  height: calc(100vh - 64px);

  & div[role="listbox"] {
    height: 100%;
  }
}

.carousel-indicator-dots {
  &.override li {
    width: 12px;
    height: 12px;
    margin: 6px;
    border-radius: 100%;
  }
}