@import '~styles/theme.scss';

.card-link {
  text-decoration: none !important;
}

.card {
  background: none;
  min-width: 320px;
  min-height: 240px;
  color: $white;
  text-shadow: 0 0 2px $shadow;
}