@mixin h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin v-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin vh-center {
  @include v-center;
  @include h-center; 
}

@mixin fade-shrink {
  transform: scaleX(0);
  opacity: 0;
  transition: transform 0.12s ease-out, opacity 0.12s linear
}