.base-shape {
  opacity: 0.3
}

.rect-fill {
  animation-duration: 1.5s;
  animation-name: fill;
  animation-iteration-count: infinite;
}


@keyframes fill {
  0% {
    transform: translateY(-90%);
  }

  100% {
    transform: translateY(100%);
  }
}
