$border-dasharray: 192;
$fillouter-dasharray: 214;
$fillinner-dasharray: 164;
$fillstroke-width: 8px;
$borderstroke-width: 2px;

%logo {
  margin: 0 auto;
  padding: 0;
  background: none;
  text-align: center;
}

.logo {
  @extend %logo;
}

.hover-logo:hover {

  @extend %logo;

  & .border {
    stroke-dashoffset: -2 * $border-dasharray;
  }

  & .fill-outer {
    stroke-dashoffset: $fillouter-dasharray;
  }

  & .fill-inner {
    stroke-dashoffset: -$fillinner-dasharray;
  }
}

.border,
.outer,
.inner {
  stroke-width: $borderstroke-width;
}

.border {
  stroke-dasharray: $border-dasharray;
  stroke-dashoffset: 0;
  stroke-linecap: square;
}

.fill {
  
  stroke-dashoffset: 0;

  &.fill-outer {
    stroke-width: $fillstroke-width;
    stroke-dasharray: $fillouter-dasharray;
  }

  &.fill-inner {
    stroke-width: $fillstroke-width;
    stroke-dasharray: $fillinner-dasharray;
  }
}

.inner,
.outer,
.fill {
  transform: translateX(5px);
}

.border,
.fill {
  transition: stroke-dashoffset 0.4s ease-in-out;
}