@import '~styles/theme.scss';

.nav-item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.link{
  height: $header-height;
  font-size: inherit;
  color: $dark-gray !important;
  text-decoration: none !important;

  &:after {
    transform: scaleX(0);
    transition: transform 0.12s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.link:after,
:global(.active-link:after) {
  content: '';
  align-self: center;
  height: $indicator-height;
  width: $indicator-width;
  background: $indicator-color;
  display: block;
}

:global(.active-link:after) {
  transform: none ;
}

.link-text {
  height: 100%;
}