@import '~assets/styles/theme.scss';
@import '~assets/styles/mixin.scss';

.nav-item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.link{
  height: $header-height;
  font-size: inherit;
  color: $dark-gray !important;
  text-decoration: none !important;
  display: block;

  &:hover {
    .link-indicator:after {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}

.link-indicator {
  @include h-center;
  bottom: 0;
  background: none;
  height: $indicator-height;
  width: $indicator-width;

  &:after {
    @include fade-shrink;
    content: '';
    height: 100%;
    width: 100%;
    background: $indicator-color;
    display: block;
  }
}

:global(.active-link) .link-indicator:after {
  transform: none ;
  opacity: 1;
}

.link-text {
  height: 100%;
}