// font
$font-family: "Open Sans", Helvetica, Arial, sans-serif;

// colors
$primary-color: #FFFFFF;

$white: #FEFEFF;
$black: #242422;

$light-gray: #C8CED3;
$gray: #959392;
$dark-gray: #414143;

$blue: #5CA2E9;
$light-blue: #52C9F5;
$sky-blue: #A1E8F8;

