@import "../../assets/styles/_base.scss";
@import "../../assets/styles/_mixin.scss";

.nav {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
}

.nav-item {
  margin: 0 2.25rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.link {
  display: inline-block;
  text-decoration: none;
  @include underline("&:hover", map-get($theme-colors, "light"));

  &:hover {
    text-decoration: none;
  }
}