@import "../../assets/styles/_base.scss";

$nav-primary-color: theme-color("light");

.nav {
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
}

.nav-item {
  margin: 0 2.25rem;
  line-height: $line-height-xl;
  text-transform: uppercase;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: $nav-primary-color;
  font-size: inherit;
  @include underline("&:hover", $nav-primary-color);

  &:hover {
    color: $nav-primary-color;
    text-decoration: none;
  }
}

.active {
  @include underline("&", $nav-primary-color);
}

@media (max-width: $media-lg) {
  .nav-item {
    font-size: 0.7rem;
  }
}