@import '~styles/theme.scss';

.form-group {
  position: relative;
  background: none;
  border: none;
  outline: none;
}

.search-input {
  width: 32px;
  height: 32px;
  float: right !important;
  border: 0 none;
  border-radius: 0;
  background: none;
  display: block;
  transition: all 0.2s;
  
  &:focus {
    width: 100%;
  }
}
