@import "../../assets/styles/_base.scss"; 

.backdrop-view {
  position: relative;
  text-align: center;
}

.backdrop {
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  &:after {
    @include gradient-bg();
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    //background: $dark;
    opacity: 0.4;
  }

  & img {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    filter: blur(3px);
  }
}

.backdrop-group {
  margin: 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.poster-info {
  position: absolute;
  left: 0;
}



