@import '~styles/theme.scss';

div.header {
  box-shadow: 0 0 2px $light-gray;
}

.navbar {
  padding: 0 3rem;
  font-size: 0.875rem;
} 

.brand {
  margin-right: 3rem;
}

.logo {
  width: 2.25rem;
  height: 2.25rem;
  background-image: url('images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}

.logo-text {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  width: 120px;
  height: 28px;
  background: url('images/logo-text.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.nav-toggler {
  font-size: 1rem;
  border-color: $light-gray ;
  outline: none;

  &:focus {
    border-color: $blue;
  }
}

.searchbox {
  height: $header-height;
}



@media (max-width: 767px) {
  .navbar {
    padding: 0 1rem;  
  }

  .brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}