@import '~assets/styles/theme.scss';

.header {
  box-shadow: 0 0 2px $shadow;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.875rem;
} 

.brand {
  margin-right: 3rem;
}

.logo {
  width: 2.25rem;
  height: 2.25rem;
  background-image: url('assets/images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}

button.nav-toggler {
  font-size: 1rem;
  border-color: $light-gray ;
  outline: none;

  &:focus {
    border-color: $blue;
  }
}

.searchbox {
  margin-left: auto;
  height: $header-height;
}
 
@media (max-width: 767px) {
  .brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}