@import '../../assets/styles/_variables.scss';

.header {
  padding: 0 3rem;
}

.header-nav {
  flex-grow: 0.7;
}

.searchbox {
  flex-flow: 0.3;
}

@media (max-width: $media-md) {
  .header {
    padding: 0 1rem;
    background: map-get($theme-colors, 'dark');
  }

  .header-nav {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
}