$media-xs: map-get($grid-breakpoints, 'xs');
$media-sm: map-get($grid-breakpoints, 'sm');
$media-md: map-get($grid-breakpoints, 'md');
$media-lg: map-get($grid-breakpoints, 'lg');
$media-xl: map-get($grid-breakpoints, 'xl');

$theme-color: $success !default;
$theme-bg: $gray-900;
$text-color: $light;
$font-size-xs: ($font-size-base * 0.75) !default;
$font-size-xl: ($font-size-base * 1.75) !default;




