.unfixed {
  position: relative;
  transform: translateY(0px);
}

.pinned,
.unpinned {
  position: fixed;
}

.unpinned {
  transform: translateY(-100%);
}

.pinned {
  transform: translateY(0px);
}

.transitionHeader {
  transition: all 0.25s ease-in-out;
}

.innerWrapper {
  top: 0;
  left: 0;
  right: 0;
  width: '100%';
  z-index: 1;
}

