@import "../../assets/styles/_base.scss";

$primary-color: theme-color("light");

.footer {
  margin: 2rem auto;
  font-size: 0.95rem;
  color: $primary;
  text-align: center;

  & a {
    color: $primary;

    &:hover {
      color: $primary;
    }
  }
}

.footer-nav {
  padding: 2rem 0;
  border-top: solid 1px $light;
  display: flex;
  justify-content: center;
}

.footer-nav-item a {
  color: $light;

  &:hover {
    color: $primary;
  }
}

.footer-logo {
  margin-right: 3px;
  display: inline-block;
}

.logo-text {
  font-size: $font-size-sm;
}
