@import '~assets/styles/theme.scss';

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.875rem;
  box-shadow: 0 0 2px $shadow;
  text-align: center;
  font-size: 0.875rem;
  color: $gray;

  & a {
    color: $dark-gray;
    text-decoration: none;

    &:nth-child(2) {
      font-size: 1.25rem;
    }
  }
}

.footer-logo {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-image: url('assets/images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}

.logo-text {
  font-weight: bold;
  color: $dark-gray;
  font-size: 1rem;
}