@import '~styles/theme.scss';

div.header {
  color: $black;
  box-shadow: 0 0 2px $light-gray;
}

button.nav-toggler {
  font-size: 1rem;
  border-color: $light-gray ;
  outline: none;

  &:focus {
    border-color: $light-blue;
  }
}

span.logo-text {
  margin: 8px;
  color: inherit;
}