@import "../../assets/styles/_base.scss";

.ovrd.navbar {
  position: relative;
}

.navbar-btn {
  color: $text-link !important;
}

.menu-button {
  display: none !important;
}

.nav-brand {
  color: $info !important;
  margin-right: auto !important;
}

@media (max-width: $media-md) {
  .ovrd.navbar {
    justify-content: center;

    & .nav-brand {
      margin: 0 auto !important;
    }

    & .menu-button {
      display: inline-block !important;
    }
  }
}