@import "../../assets/styles/_base.scss";

.header {
  background: $theme-bg;
}

// Override default brand color
.nav-brand {
  color: $theme-color !important;
}

.nav {
  width: 100%;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 64px;
  &:first-child { 
    width: 65%;
    max-width: 380px;
  }
}

.nav-search-input {
  border-radius: 35px;
}

@media(max-width: $media-sm) {
  .nav-item {
    margin: 0 auto;
  }
}


