@import "../../assets/styles/_base.scss";

.toggler {
  outline: none !important;
  box-shadow: none !important;

  &.open {
    border-color: $secondary !important;
  }
}

@media(max-width: 768px) {
  .padding-top {
    padding-top: 0.5rem;
  }
}
