@import "../../assets/styles/_base.scss";

.header {
  background: $theme-bg;
  height: 64px;
}

.navbar {
  &.override {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.header-brand,
.header-main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.header-main {
  position: relative;
  flex: 1;
  z-index: 1;
}

// Override default brand color
.nav-brand,
.nav-toggler,
.search-toggler {
  color: $theme-color !important;
}

.nav-toggler,
.search-toggler {
  @extend %text-btn;
  &:hover {
    cursor: pointer;
  }
}

.search-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
  font-size: $font-size-lg !important;
  transition: opacity 0.2s ease-in;

  &.close {
    z-index: 10;
  }
}

.header-search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  &.show {
    display: block;
  }
}



