@import "../../assets/styles/_base.scss"; 

.backdrop-container {
  position: relative;
  background: $gray-200;
  width: 100%;
  height: 100%;
}

.backdrop-overlay {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    //box-shadow: inset 10px -20px 300px 150px $gray-900;
  }
}

.poster-mask,
.overview {
  position: absolute;
  bottom: 25%;
}

.poster-mask {
  left: 12%;
  overflow: hidden;
  transform-origin: left;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
}

.overview {
  right: 12%;
}