@import "../../assets/styles/_base.scss"; 

.poster {
  @include card-shadow();
  border-radius: 4px;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}


.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $light-color;
  outline: none;
  border: none;
  background: none;
  font-size: $font-size-lg;
}

.close-icon {
  color: inherit;
}