@import "../../assets/styles/_base.scss"; 

.backdrop-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $gray-800;

  &.active {
    position: relative;
    z-index: 1;
  }
}

.backdrop-overlay {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 10px -20px 300px 150px $gray-900;
  }
}

.media-content {
  position: absolute;
  top: 4rem;
  left: 4rem;
  background: none;
  max-width: 575px;
}