@import '~assets/styles/theme.scss';

.section-header {
  position: relative;
  margin-bottom: 0.75rem;
  padding: 0 0.75rem;
  font-size: 1.125rem;
  user-select: none;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $indicator-height;
    height: 100%;
    background: $blue;
  }
}

.link-more {
  font-size: 0.875rem;
  color: $gray;

  &:hover {
    color: $dark-gray;
    text-decoration-line: none !important;
  }
}