@import '~styles/theme.scss';

a.link-text {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  color: $gray;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

@media (max-width: 767px) {
  .navmenu {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navmenu-item {
    padding-bottom: 0.5rem;
  }
}