@import "../../assets/styles/_base.scss"; 

.poster-box {
  margin: 0;
  display: inline-block;
  text-align: center;
  transition: transform 0.2s ease-out;

  &.hover {
    @include card-shadow;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.poster-link {
  display: block;
  width: 100%;
  height: 100%;
}